header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.type h1 {
    display: inline-block;
    letter-spacing: 0.2rem;

    border-right-width: 0.5rem;
    padding-bottom:0 ;
    width: 0;
    overflow: hidden;
    white-space: nowrap;

    animation: 
    type 1s steps(13) 1s forwards,
    blink 0.5s steps(1) infinite;
}

@keyframes type{
    to{width: 13ch;}
}


/* CallToAction */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Socials */

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Image */

.me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding-top: 0.5rem;
}

/* scroll */
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Responsive */
@media screen and (max-width:1024px){
    header{
        height: 68vh;
    }
}

@media screen and (max-width:600px){
    header{
        height: 100vh;
    }

    .header__socials,.scroll__down{
        display: none;
    }
}